# Build resources
build/*
dist/*
assets/bower/*
node_modules/*

# Generated
coverage/*
out/*
sassdoc/*

# Temps
.sass-cache/*
*.bak
tmp/*
.idea/*

# Operating System files
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.idea/
assets/bower/
dist/
node_modules/
